extends layout

block Contenido     
    #contenido
        #barraIndex
            .contenido
                h2 Explora posibilidades
                p. 
                    Con esta herramienta podra 
                    mejorar el rendemiento de 
                    te equipo a la hora de tomar
                    desiciones

            .contenido
                h2 Apoyanos
                p. Sabes diseñar, eres docente,
                   tienes alguna idea para mejorar
                   esta herramienta no dudes en 
                   contactarme.

            .contenido
                h2 Software libre
                p. 
                    Todo el codigo lo puedes encontrar 
                    en github, a si tambien como la 
                    documentación, y metodología
        a#botonUnirse(href='/nuevo/#{id}')   Iniciar una sesión
